@import "style.css";

body {
    background-color: #f7f7f7;
}

/* footer */
#footer {
    background-color: #fff;
}

/* main */
#main {
    min-height: 800px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
#main > nav {
    min-height: 900px;
    min-width: 280px;
    padding: 60px 50px;
    box-sizing: border-box;
    background-color: #fff;
    border-top-right-radius: 20px;
}
#main > nav > h3 {
    padding-bottom: 20px;
}
.board-title {
    border-top: 1.2px solid #000;
    border-bottom: 1.2px solid #000;
    font-weight: bold;
    font-size: 0.9rem;
    color: #353535;
}
.board-title > li {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.board-title > li::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #000;
    border-right: 1.5px solid #000;
    transform: rotateZ(-45deg) translateX(-10px);
}
.board-menu {
    padding: 5px 0;
    font-weight: normal;
    font-size: 0.85rem;
}
.board-menu > li > a {
    display: block;
    padding: 10px;
}
.board-menu > li:hover > a {
    background-color: #f7f7f7;
}

#main > section {
    min-height: 900px;
    box-shadow: 0vw 0vw 1.7361vw rgba(141, 141, 141, 0.06);
    width: 80%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    border-top-left-radius: 20px;
}
#main > section > h3 {
    font-weight: normal;
    padding-bottom: 50px;
}
.board-list {
    width: 100%;
    font-size: 0.9rem;
    border-collapse: collapse;
}
.board-list > thead > tr {
    border-top: 1px solid #999;
    border-bottom: 1px solid #d1d1d1;
}
.board-list > thead > tr > th {
    font-weight: normal;
    color: #333;
    padding: 10px 0;
}
.board-list > thead > tr > .td-writer {
    text-align: left;
}
.board-list > tbody > tr > td {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    box-sizing: border-box;
}
.board-list > tbody > tr > .td-title {
    padding: 10px;
}
.board-list > tbody > tr > .td-title > .commentNum {
    color: #ff2f3b;
    font-weight: bold;
    display: inline-block;
    transform: translateY(-2px);
}
.board-list > tbody > tr:hover {
    background-color: #f7f7f7;
}
.td-num {
    width: 7%;
    text-align: center;
}
.td-title {
    width: 63%;
}
.td-title:hover > a {
    text-decoration: underline;
}
.td-writer {
    width: 12%;
}
.td-regdate {
    width: 12%;
    text-align: center;
}
.td-views {
    width: 6%;
    text-align: center;
}
.board-list > tbody > tr > .td-empty {
    text-align: center;
    padding: 80px 0;
}
.board-list > tbody > tr:hover > .td-empty {
    background-color: #fff;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 0.9rem;
    color: #333;
}

.btn-wrap > .pagination {
    flex-grow: 1;
    text-align: center;
}
.btn-wrap > .pagination > * {
    padding: 3px 9px;
    color: #777;
}
.btn-wrap > .pagination > a:hover {
    text-decoration: underline;
}
.btn-wrap > .pagination > .current-num {
    padding: 3px 9px;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    color: #333;
}
.n-prev::before,
.y-prev::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    transform: rotateZ(-45deg);
}
.n-prev::bofore {
    border-top: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
}
.n-next::after,
.y-next::after {
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    transform: rotateZ(45deg);
}
.n-next::after {
    border-top: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}

.btn-wrap > .board-write-btn {
    padding: 0.5em 1em;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
}
.btn-wrap > .board-write-btn:hover {
    border: 1px solid #c4c4c4;
    background-color: #f0f0f0;
}
