@import "style.css";

body {
    background-color: #f7f7f7;
}

/* footer */
#footer {
    background-color: #fff;
}

/* main */
#main {
    min-height: 800px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
#main > nav {
    min-height: 900px;
    min-width: 280px;
    padding: 60px 50px;
    box-sizing: border-box;
    background-color: #fff;
    border-top-right-radius: 20px;
}
#main > nav > h3 {
    padding-bottom: 20px;
}
.board-title {
    border-top: 1.2px solid #000;
    border-bottom: 1.2px solid #000;
    font-weight: bold;
    font-size: 0.9rem;
    color: #353535;
}
.board-title > li {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.board-title > li::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #000;
    border-right: 1.5px solid #000;
    transform: rotateZ(-45deg) translateX(-10px);
}
.board-menu {
    padding: 5px 0;
    font-weight: normal;
    font-size: 0.85rem;
}
.board-menu > li > a {
    display: block;
    padding: 10px;
}
.board-menu > li:hover > a {
    background-color: #f7f7f7;
}

#main > section {
    min-height: 900px;
    box-shadow: 0vw 0vw 1.7361vw rgba(141, 141, 141, 0.06);
    width: 80%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    border-top-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#main > section > h3 {
    font-weight: normal;
    padding-bottom: 30px;
}
#main > section > form {
    width: 100%;
}
.title-input {
    width: 70%;
    padding: 10px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.title-input::placeholder {
    color: #b9b9b9;
}
.content-input {
    width: 70%;
    height: 300px;
    padding: 10px;
    outline: 0;
    border: 1px solid #dfdfdf;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.btn-wrap {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
    font-size: 0.9rem;
    color: #333;
}
.btn-wrap > * {
    outline: 0;
    border: 0;
    padding: 0.5em 1em;
    border-radius: 3px;
    margin: 0 10px;
}
.btn-wrap > .go-write-btn {
    background-color: #006ed4;
    color: #fff;
    opacity: 0.8;
}
.btn-wrap > .go-write-btn:hover {
    opacity: 1;
}
.btn-wrap > .reset-btn {
    background-color: #fff;
    border: 1px solid #dfdfdf;
}
.btn-wrap > .reset-btn:hover {
    border: 1px solid #c4c4c4;
    background-color: #f0f0f0;
}
